* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #5291FF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;

}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.nav li.active {
    border-radius: 25;
    background-color: rgb(225, 217, 217);
}

.nav li:hover {
    border-radius: 25;
    background-color: rgb(209, 214, 232);
}

