* {
    box-sizing: border-box;
}

.centered {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

body {
    margin: 0;
}

.about{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
    padding-left: 2rem;
}

.nav {
    background-color: #5291FF;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
}

.site-title {
    font-size: 2.5rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0;
    text-align: center;
}

nav ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 10px;
  }

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #1f3255;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
    z-index: -10;
    animation: fill 1s forwards;
    -webkit-animation: fill 1s forwards;
    -moz-animation: fill 1s forwards;
    opacity: 1;
  }

.searchbar {
    text-align: left;
    padding: 1rem;
    color: #23092a;
    border: 1px solid #e0d4e3;
    width: 100%;
    border-radius: 25rem;
    margin: 0 auto;
    vertical-align: middle;
    position: relative;
    top: -1px;
    font-size: 20px;
    box-shadow: 5px 5px #4c6795;
    min-width: 40rem;
    flex-shrink: 0;
}

.searchform {
    margin: 0 1rem;
    flex-grow: 1;
    min-width: 18rem;
}

input[type=search]:focus {
    box-shadow: 5px 5px #4c6795;
    border: 2px solid #cddefb;
    outline: none
}

.home {
    padding-top: 6rem;
    padding-left: 2rem;
    color: #1f3255;
}

.account {
    padding-top: 6rem;
    padding-left: 2rem;
    color: #1f3255;
}

.about {
    padding-top: 6rem;
    padding-left: 2rem;
    color: #1f3255; 
}

ul {
    list-style-type: none;
    padding: .5rem;
    line-height: 2rem;
}

